:root {
  --Red: #f65351;
  --Blue: #0a317b;
  --White: #ffffff;
  --Very_light_grayish_blue: #f7fafd;
  --Light_grayish_blue_1: #e5effa;
  --Light_grayish_blue_2: #dde7ee;
  --Grayish_blue: #939dae;
  --Dark_grayish_blue: #5e6778;
  --Very_dark_blue: #1c202b;
}
/*fonts*/
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/static/PlusJakartaSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/static/PlusJakartaSans-ExtraBold.ttf");
  font-weight: 700;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
/*background*/
/*box-model*/
/*flexbox*/
/*text*/

body {
  background-color: var(--Very_light_grayish_blue);
  font-family: "Plus Jakarta Sans", sans-serif;
  height: 100vh;
}

p {
  font-size: 16px;
}

/** states*/
.unread {
  background-color: var(--Light_grayish_blue_1);
}
/** states*/
main {
  height: 100%;
}
.unread .notificationText::after{
content:'	\01F534';

}

.notificationsContainer {
  background-color: var(--White);
  margin: 0 auto;
  height: 100%;
  width: 90%;
}

header {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  margin: 40px 0px;
}

.headerInfo{
  font-size: 24px;
}
#NotificationsCount {
  font-size: 18px;
margin-left: 5px;
  background-color: var(--Blue);
  color: white;
  border-radius: 5px;
  padding: 1px 8px;
}

.markAllReadBtn {
  border: none;
  background-color: transparent;
}

.notification {
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  min-height: 100px;
  margin-bottom: 10px;
  padding: 10px;
}

.unread {}

.avatarImg {
  width: 50px;
  height: 50px;
}


.notificationContent {}

.notificationText {}

.userName {}

.ownPostName {}

.dot {}

.DeliveredAtTime {}

.groupName {}

.messageBox {
  padding: 30px;
  border: 1px rgba(0, 0, 0, .2) solid;
}

.attached-image {
   position: relative;
   right: 0px;
}
